<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FindPassword</title>
</head>
<body>
    请输入注册时用户名 :
        <input id="username" class="span12" type="text" placeholder="用户名" name = "username"/>
    <br>
    请输入注册时邮箱 :
        <input id="email" class="span12" type="email" placeholder="邮箱" name = "email"/>
    <br>
        <input id="sendemail" type="submit" value="发送验证码到邮箱" onclick="this.disabled=true">
    <br>
    请输入收到的邮箱验证码 :
        <input id="emailcode" class="span12" type="text" placeholder="邮箱验证码" name="emailcode" />
    <br>
        <input id="verifyemailcode" type="submit" value="校验验证码" onclick="this.disabled=true" style="display: none">
    <br>
        <input id="password" class="span12" type="password" placeholder="请输入新密码" name = "password" style="display: none"/>
    <br>
        <input id="updatepassword" type="submit" value="重新设置密码" onclick="this.disabled=true" style="display: none">


    <script src="/static/js/jquery-latest.js"></script>
    <script>
        $(
            $("#sendemail").click(
                function () {
                    var input_username = $("#username").val();
                    var input_email = $("#email").val();
                    var input_dict = {"username":input_username,"email":input_email};
                    $.ajax(
                        {
                            type : "POST",
                            url : "/clocmdb/password_forget_sendmail/",
                            dataType : "json",
                            data : input_dict,
                            success : function (data) {
                                if(data["sendemailstatus"] == "Success"){
                                    document.getElementById("verifyemailcode").style.display = "";
                                }
                                else {
                                    document.getElementById("verifyemailcode").style.display = "none";
                                }
                            },
                            error : function (err) {
                                console.log(err)
                            }
                        }
                    )

                }
            ),

            $("#verifyemailcode").click(
                function () {
                    var input_username = $("#username").val();
                    var input_email = $("#email").val();
                    var input_emailcode = $("#emailcode").val();
                    var input_dict = {"username":input_username,"email":input_email,"emailcode":input_emailcode};
                    $.ajax(
                        {
                            type : "POST",
                            url : "/clocmdb/password_emailcode_verify/",
                            dataType : "json",
                            data : input_dict,
                            success : function (data) {
                                if(data["verifyemailstatus"] == "Success"){
                                    document.getElementById("password").style.display = "";
                                    document.getElementById("updatepassword").style.display = "";
                                }
                                else {
                                    document.getElementById("password").style.display = "none";
                                    alert('EmailCode Error!')
                                }
                            },
                            error : function (err) {
                                console.log(err)
                            }
                        }
                    )

                }
            ),

            $("#updatepassword").click(
                function () {
                    var input_username = $("#username").val();
                    var input_email = $("#email").val();
                    var input_emailcode = $("#emailcode").val();
                    var input_password = $("#password").val();
                    var input_dict = {"username":input_username,"email":input_email,"emailcode":input_emailcode,"password":input_password};
                    $.ajax(
                        {
                            type : "POST",
                            url : "/clocmdb/password_update/",
                            dataType : "json",
                            data : input_dict,
                            success : function (data) {
{#                                console.log(data);#}
                                if (data["passwordupdatestatus"] == 'Success'){
                                    window.location.href = "/clocmdb/login"
                                }
                                else {
                                    window.location.href = "/clocmdb/findpassword/"
                                }

                            },
                            error : function (err) {
                                console.log(err);
                            }
                        }
                    )

                }
            )

        )
    </script>
</body>
</html>