<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForgetPassword</title>
</head>
<body>
    <form action="" method="post">
        用户名:
            <input id="username" class="span12" type="text" placeholder="注册时的用户名" name = "username"/>
        <br>
        邮箱:
            <input id="email" class="span12" type="email" placeholder="注册时的邮箱" name = "email"/>
        <br>
        <a href="/users/password_forget_sendmail/"></a><input id="submit" type="submit" value="将验证码发送到邮箱">
    </form>
</body>
</html>