<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddBook</title>
</head>
<body>

{#    {{ book_list }}#}
    {% for book in book_list %}
        <h3 style="color: red">{{ book.name }}</h3>
    {% endfor %}
        <form action="/add_book/" method="post">
            {% csrf_token %}
            书名:
            <input type="text" name="book_name">
            出版社:
            <select name="publisher">
                {% for publisher in publisher_list %}
                    <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                {% endfor %}
            </select>
            出版日期:
            <input type="date" name="date">
            作者:
            <select name="author" multiple="multiple">
                {% for author in author_list %}
                    <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="创建图书">
        </form>
</body>
</html>